    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="icon" href="{{ site.baseurl }}/assets/page-design/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css">

<footer style="width:100%; text-align:right; margin-top:auto; padding:0.25rem 5% 0;">
  <style>
    .footer-link {
      text-decoration: none;
      color: white;
      font-weight: 600;
      white-space: nowrap;
      font-size: 1rem;
      text-shadow: 2px 2px 1px rgba(0,0,0,0.9);
      transition: color 0.3s ease;
    }
    .footer-link:hover {
      color: #466090;
    }
    .footer-link .iconify {
      vertical-align: middle;
      margin-bottom: 3px;
      filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.9));
      font-size: 1.2rem;
    }
  </style>

  <a href="{{ site.baseurl }}/imprint.html" class="footer-link">
    <span class="iconify" data-icon="mdi:information-outline"></span> IMPRINT
  </a>
</footer>

