<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2151.40" targetFramework="net481" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="PixiEditor.ColorPicker.Models" version="1.0.7" targetFramework="net481" />
  <package id="WPF-UI" version="4.0.2" targetFramework="net481" />
  <package id="WPF-UI.Abstractions" version="4.0.2" targetFramework="net481" />
</packages>